{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/APP/css/default.css') }}" />
{% endblock %}

{% block navgamas %}

    <a href='{{ path('app_productos_productosgama', {gama: 'all'}) }}'>Todas</a>
    {% for g in gamas %}
        <a href='{{ path('app_productos_productosgama', {gama: g.gama}) }}'>{{ g.gama }}</a>
    {% endfor %}

{% endblock %}

{% block main %}
    <div id="inicio">
        <h1>Verderalia Jardinería</h1>
        <img src="{{ asset('img/inicio.jpg') }} ">
        <p>La esmerada forma de trabajar, la pasión que firmamos en cada proyecto, nos permite, desde Verderalia Jardinería, realizar todo tipo de trabajos, que van desde trabajos puntuales, mantenimientos a particulares, empresas, comunidades de propietarios.</p>
    </div>
{% endblock %}


