{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/FRONT/css/default.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/FRONT/js/default.js') }}"></script>
{% endblock %}

{% block navcategorias %}

    <a href='{{ path('frontend_libros_libroscategoria', {categoria: 'all'}) }}'>Todas</a>
    {% for g in categorias %}
        <a href='{{ path('frontend_libros_libroscategoria', {categoria: g.categoriaid}) }}'>{{ g.nombreCategoria }}</a>
    {% endfor %}

{% endblock %}

{% block main %}
    <div id="inicio">
        <h1>Librerion - La librería de las librerías</h1>
        <p>La forma de trabajar, la pasión que firmamos en cada proyecto, nos permite, desde Librerion, realizar todo tipo de trabajos, que van desde trabajos puntuales, mantenimientos a particulares, empresas, comunidades de propietarios.</p>
    </div>
{% endblock %}


